@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --bg-header: #121212;
    --bg-sec1: #1d1d1d;
}

*{
    font-family: 'Montserrat', sans-serif;
    color: rgb(255 255 255 /0.95);
}
body{
    margin: 0;
    padding: 0;
}

/*Header*/
.header{
    width: 100%;
    height: 150px;
    background-color: var(--bg-header);
}
.header__inner{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.header__article{
    width: 450px;
}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header__logo--img{
    width: 90px;
}
.header__logo--text{
    font-size: 1.75rem;
}
.header__icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.header__icons--icon{
    font-size: 55px;
}
.header__profile{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.header__profile--icon{
    font-size: 60px;
}

/*Content Waifu*/
.waifu__contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--bg-sec1);
}
.waifu__inner{
    padding: 40px 0;
    width: 1200px;
}
.waifu__column{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*Sec Dates Images*/
.waifu__content{
    box-sizing: border-box;
    width: 50%;
    padding: 0 20px 0 0;
}
.waifu__conten--tittle{
    font-size: 2.5rem;
    text-align: center;
}
.waifu__text{
    font-size: 1.5rem;
    font-weight: 600;
}
.waifu__text--span{
    font-size: 1.4rem;
    font-weight: 300;
}
/*btn generate image*/
.waifu__btn--random{
    width: 300px;
    background-color: rgb(255 255 255 /0.9);
    color: rgb(0 0 0);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}
.waifu__btn--random:hover{
    background-color: rgb(255 255 255 /1);
}

/*Sec Image*/
.waifu__image{
    box-sizing: border-box;
    max-width: 600px;
    background-color: rgb(245 209 215 /.8);
    border: 10px solid #fff;
    border-radius: 10px;
}
.waifu__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2000ms ease-in-out;
}

/*Clases JS*/
.opacity-fade{
    opacity: 0;
}
.opacity-fade-in{
    opacity: 1;
}